{{ define "main" }}
<main>
    <div class="homepage">
        <div class="row">
            <div class="col-sm-12">
                <h1>
                    <!-- <span class="minor_line">Notes On Using</span> -->
                    <br>
                    <span class="major_line">Speech Science &amp; Technology</span>
                    <br>
                    <span class="minor_line">For the better understanding of human speech</span>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 blurb">
                <p>
                    <img src="images/jaekoo_kang.png">
                </p>
                <br>
                <p>
                    <a href="about/jaekoo_kang/">I am a PhD candidate in Speech Science</a> at the Graduate Center, City University of New York. I enjoy writing, coding and making applications for understanding how humans produce and perceive speech.
                </p>

            </div>
        </div>

<!-- Speech Data Analysis ------------------------------------------------------------------------- -->

        <div class="row" id="speech_data_analysis">
            <div class="col-sm-12">
                <h3 class="category_header">Speech Data Anaylsis</h3>
            </div>
        </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <h4 class="card-header">Basics</h4>
                        <div class="card-body">
                            <ul>
                                {{ range (where .Pages "File.Dir" "in" "/speech_data_analysis/basics/").ByTitle }}
                                <li>
                                    <a href="{{.Permalink}}">{{.Title}}</a>
                                </li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- 
            TODO IDEAS:
            - vowels and consonants
            - speech production
            - speech visualization
            - speech recognition
            - speech synthesis
            - voice cloning
            - speech representations
             -->


<!--  Machine Learning & Deep Learning ------------------------------------------------------------------------- -->

        <div class="row" id="machine_learning_deep_learning">
            <div class="col-sm-12">
                <h3 class="category_header">Machine Learning &amp; Deep learning</h3>
            </div>
        </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <h4 class="card-header">Normalizing Flow</h4>
                        <div class="card-body">
                            <ul>
                                {{ range (where .Pages "File.Dir" "in" "/machine_learning_deep_learning/normalizing_flow/").ByTitle }}
                                <li>
                                    <a href="{{.Permalink}}">{{.Title}}</a>
                                </li>
                                {{ end }}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

    </div>

</main>
{{ end }}